@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Light.eot");
  src: local("Noto Sans Light"), local("NotoSans-Light"), url("../fonts/NotoSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Light.woff2") format("woff2"), url("../fonts/NotoSans-Light.woff") format("woff"), url("../fonts/NotoSans-Light.ttf") format("truetype"), url("../fonts/NotoSans-Light.svg#NotoSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.eot");
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.ttf") format("truetype"), url("../fonts/NotoSans-Regular.svg#NotoSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Italic.eot");
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/NotoSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Italic.woff2") format("woff2"), url("../fonts/NotoSans-Italic.woff") format("woff"), url("../fonts/NotoSans-Italic.ttf") format("truetype"), url("../fonts/NotoSans-Italic.svg#NotoSans-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-ExtraBold.eot");
  src: local("Noto Sans ExtraBold"), local("NotoSans-ExtraBold"), url("../fonts/NotoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-ExtraBold.woff2") format("woff2"), url("../fonts/NotoSans-ExtraBold.woff") format("woff"), url("../fonts/NotoSans-ExtraBold.ttf") format("truetype"), url("../fonts/NotoSans-ExtraBold.svg#NotoSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}
